// Vuetify Colors
$background: rgb(var(--v-theme-background));
$surface: rgb(var(--v-theme-surface));
$surface-bright: rgb(var(--v-theme-surface-bright));
$surface-light: rgb(var(--v-theme-surface-light));
$surface-variant: rgb(var(--v-theme-surface-variant));
$on-surface-variant: rgb(var(--v-theme-on-surface-variant));
$primary: rgb(var(--v-theme-primary));
$primary-darken-1: rgb(var(--v-theme-primary-darken-1));
$secondary: rgb(var(--v-theme-secondary));
$secondary-darken-1: rgb(var(--v-theme-secondary-darken-1));
$error: rgb(var(--v-theme-error));
$info: rgb(var(--v-theme-info));
$success: rgb(var(--v-theme-success));
$warning: rgb(var(--v-theme-warning));
$gray-light: rgb(var(--v-theme-gray-light));
$gray-medium: rgb(var(--v-theme-gray-medium));
$gray-dark: rgb(var(--v-theme-gray-dark));
